.editContainer{
  
}

.eachField{
  margin-top: 10px;
  margin-bottom: 10px;
 
}

.box{
   
 
     margin: 5px;
     border-radius: 4px;
     border: 1px solid grey;

}
.inputtext{
    margin: 40px;
}
.eachtext{
    margin-bottom: 10px;
    margin-top: 10px;
}

hr{
    border-top: 10px solid grey !important;
} 
.addmore-button{
    padding: 10px;;
}

.submit-button{
    margin-top: 30px;
 
}
.AddButton{
    width: 250px;
}

.inputContainer{
   padding-top: 40px;
}

.ant-result{
    padding: 0px 0px 0px 0px;
}

.submit-button{
    padding-bottom: 150px;
}

.exit-button{
    margin: 10px;
}
.btn-lg{
    width: 200px!important;
}